[Unit]
Description=DisplayPadWorker
DefaultDependencies=no
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
User=$USER
Type=forking
WorkingDirectory=/usr/lib/DisplayPadPy/
ExecStart=./venv/bin/python3 /usr/lib/DisplayPadPy/DisplayPadWorker.py
RemainAfterExit=yes
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
